<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>


  
</div>
      <h1></h1>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
    <div class="item active">
       <img style="width:100%" src="/assets/fashion.jpg" alt="fashion">
      <div class="carousel-caption">
        <h3>Ihub</h3>
        <p>The entrepreneurship forum</p>
      </div>
    </div>

    <div class="item">
      <img style="width:100%" src="/assets/fashion.jpg" alt="fashion">
      <div class="carousel-caption">
        <h3>Fashion</h3>
        <p>Nairobi Fashion Week.</p>
      </div>
    </div>

    <div class="item">
      <img style="width:100%" src="assets/club.jpg" alt="Music">
      <div class="carousel-caption">
        <h3>Music</h3>
        <p>Authenic African Music</p>
      </div>
    </div>

    <div class="item">
      <img style="width:100%" src="assets/events-and-training.jpg" alt="Training">
      <div class="carousel-caption">
        <h3>Kristen Stewart, Snow White</h3>
        <p>Imax Nairobi.</p>
      </div>
    </div>
  </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



    <div class="row" id="about">
    <p> NaiEvents helps you to locate, register and <br>attend public events that matter to you</p>
      
    </div>
    <div class="row" id="featuredeventstitle">
        <p>Featured Events</p>
  </div>

  <div class="row" id="featuredevents">
    <div class="col-sm-4" id="event1">
     <img src="assets/bussiness.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event2" >
    <img src="assets/grooveimg.png" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event3">
    <img src="assets/saflive.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
  </div>

</body>
</html>
