<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>


  
</div>
      
  <br>
 




    <div class="row" id="about">
    <p> NaiEvents helps you to locate, register and <br>attend public events that matter to you</p>
      
    </div>
    <div class="row" id="featuredeventstitle">
        <p>Featured Events</p>
  </div>

  <div class="row" id="featuredevents">
    <div class="col-sm-4" id="event1">
     <img src="assets/bussiness.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event2" >
    <img src="assets/grooveimg.png" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event3">
    <img src="assets/saflive.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
  </div>

</body>
</html>
