<div class="row outerdiv">
	
	<div class="col-sm-4 eventform">
	<h1>NaiTechEvent</h1>

    <%= render 'form' %>

    <%= link_to 'Back', events_path %>

</div >

	<div class="col-sm-8 coolpic"></div>

</div>
