


<div class="row outerdiv">
<div class="row">
	<h1>NaiTechEvent</h1>
</div>
	
	<div class="col-sm-4 eventform">
	

    <%= render 'form' %>

    <%= link_to 'Back', events_path %>

</div >

	<div class="col-sm-8 eventform">
	 <div class="row coolpic"></div>
	</div>

</div
