.eventform{
	
	width: 500px;
	padding-left: 100px;
	
}
.outerdiv{
	background-color: #A0A4A4;

}
.coolpic{
	margin-top: 300px;
	margin-top: 150px;
	height: 400px;
	width: 650px;
	background-image: url("/assets/iub.jpg") ;
	background-size: cover;


	
	 
}