


<header>
  <nav class="navbar " id="mainnav">
  <div class="container-fluid">
    <div class="navbar-header"  id="navlogo">
      
      <%= link_to "NaiTECHEvents", '#' , class: "navbar-brand logonavi" %>  
       
    </div>
    <div id="mainlist">
      <ul class="nav navbar-nav navbar-right" class="navlist">

        <li class="active"><%= link_to "Home",   '#' %></li>
        <li> <%= link_to 'Create Event', new_event_path %></li>
       
        
      </ul>
    </div>

  
  </div>
  <div class="row" id="row1">
<h1>Locate, register and attend  TECH events that matter to you<br>in Nairobi</h1>

  
</nav>

</div>

</header>
