
<header class="navbar navbar-fixed-top navbar-inverse" id="mainnav">
  <div class="container">
    <%= link_to "NAIEVENTS", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" class="navlist">
        <li ><%= link_to "Home",   '#' %></li>
        <li ><%= link_to "Login",   '#' %></li>
        <li ><%= link_to "Signup", '#' %></li>
      </ul>


      <ul class="nav navbar-nav pull-right">

</ul>
    </nav>
  </div>
</header>